$text-color: #3c4043;
$primary-color: #276ef1;
$error-color: #d7242e;
$border-color: #dadce0;
$lightgrey-color: #616161;
$grey-color-bgm: #f7f7f7;
$font-size: 16px;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.error {
  color: $error-color;
  font-size: 14px;
}
.light-grey {
  color: $lightgrey-color;
}
.text14 {
  font-size: 14px;
}
.org-setup {
  background-color: #e8f0fd;
  width: fit-content;
  margin-left: auto;
  padding: 5px 0;
  padding-left: 50px;
  padding-right: 5px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.form-title {
  font-size: 14px;
  color: $text-color;
  font-weight: 500;
}
.small-text {
  color: #5f6368;
  font-size: 10px;
}
.center {
  text-align: center;
}
.pb5 {
  padding-bottom: 5px;
}
.pb10 {
  padding-bottom: 10px;
}
.d-flex {
  display: flex;
}
.d-flex-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}
.d-flex-spacebetween {
  display: flex;
  justify-content: space-between;
}
.d-flex-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.right-main {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.nav-wrapper {
  height: 64px;
  padding: 0 20px;
  border: 1px solid $border-color;
  display: grid;
  grid-template-columns: 19% 80%;
}
// .logo {
//   border-right: 2px solid rgba(211, 211, 211, 0.295);
// }
.profile-name {
  height: 35px;
  width: 35px;
  background-color: #1d4d40;
  border-radius: 50%;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
.content-wrapper {
  display: grid;
  grid-template-columns: 15% 80%;
}
.menu-wrapper {
  text-align: center;
  position: relative;
  div {
    padding: 8px 5px;
  }
}
.notify {
  position: absolute;
  left: 35px;
  bottom: 25px;
  width: 16px;
  height: 16px;
  background-color: #ff0815;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 10px;
  border-radius: 50%;
}
.menus {
  background-color: $grey-color-bgm;
  height: 100vh;
  padding: 15px 0;
}

.dashboard-wrapper {
  display: grid;
  grid-template-columns: 25% 75%;
  // border: 1px solid #dadce0;
}

.dashboard-content {
  border-right: 1px solid $border-color;
}

//ord setup
.org-set {
  padding: 15px;
  border-bottom: 1px solid $border-color;
  box-shadow: 0px 3px 6px #00000029;
  font-weight: 500;
}

.upload-container {
  padding: 15px 0;
  margin: 0 20px;
  margin-top: 10px;
  border-bottom: 1px solid #005ba6;
  margin-bottom: 40px;
}

.upload-btn {
  background: none;
  border: none;
  color: $primary-color;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid $grey-color-bgm;
  height: 40px;
  width: 150px;
  border-radius: 8px;
}
.save-btn {
  background: none;
  border: none;
  color: white;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid $primary-color;
  height: 40px;
  width: 150px;
  background-color: $primary-color;
  border-radius: 8px;
}

// form styles

.form-wrapper {
  width: 70%;
  display: grid;
  margin: auto;
}
.form-inputs {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}
.form-grp {
  h5 {
    text-align: left;
    font: normal normal medium 14px/18px Google Sans;
    letter-spacing: 0px;
    color: #5f6368;
    opacity: 1;
    margin-bottom: 5px;
    font-size: 14px;
    font-weight: normal;
  }
  input {
    width: 100%;
    height: 44px;
    background: #ffffff 0% 0% no-repeat padding-box;
    border: 1px solid #c9c9c9;
    border-radius: 4px;
    color: #dadce0 !important;
    padding: 0 15px;
    font-weight: 500;
    opacity: 0.4;
    background: #ffffff 0% 0% no-repeat padding-box;
  }
}
.enlarge-grp {
  // border-bottom: 1px solid #dadce0;
  border-top: 1px solid #dadce0;
  padding: 15px 0;
  margin: 0 20px;
  display: flex;
  justify-content: space-between;
  h3 {
    color: #3c4043;
    font-size: 20px;
    font-weight: 500;
  }
}

.active {
  border-left: 3px solid #fd9933;
  background-color: white !important;
}

.scroll-data {
  height: 100vh;
  overflow-y: scroll;
  // margin-bottom: 200px;
}

.switch-btn1 {
  background-color: #f7f7f7;
  padding: 10px 15px;
  border-radius: 5px;
  padding-top: 15px;
}
.switch-btn2 {
  background-color: #f2f6ff;
  padding: 10px 15px;
  border-radius: 5px;
  padding-top: 15px;
}

.onchange {
  p {
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 14px;
    color: grey;
    text-decoration: underline;
  }
}
